{% extends "base.html" %}
{% block content %}
<br>
<h2 class="pagination-centered">Một số video hướng dẫn sử dụng</h2>
<div class="row-fluid">
  <div class="span3">
    <h3>Cho quản lý trường</h3>
    <h5>Khởi tạo</h5>
    <ul>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=WO1xGMRbd8Y&feature=plcp&fs=1">
        Khởi tạo dữ liệu lần đầu cho trường
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=8hCF5LGPYuI&feature=plcp&fs=1">
        Thêm/xóa lớp, gán chủ nhiệm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=bTSh4K_T6pQ&feature=plcp&fs=1">
        Quản lý giáo viên
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=YyVPisgrhBw&feature=plcp&fs=1">
        Chuyển sang học kì, năm học khác
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=aJl1a4UIOgk&feature=plcp&fs=1">
        Phân lớp đầu năm học mới
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=CaM57L3ArLo&feature=plcp&fs=1">
        Thiết lập thông số trường
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=_mrhWsq_FFE&feature=plcp&fs=1">
        Thông tin tài khoản người dùng
      </a></li>
    </ul>
    <h5>Báo cáo/liên lạc</h5>
    <ul>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=OvhEWRzErmE&feature=plcp&fs=1">
        Nhắn tin liên lạc
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=ptWd15jxPfY&feature=plcp&fs=1">
        Báo cáo</a></li>

      {#                    <li><a target="_blank" href="http://www.youtube.com/watch?v=JxOVxSJwTn4&fs=1">#}
        {#                        Kì thi#}
        {#                    </a></li>#}
    </ul>
    <h5>Quản lý lớp/học tập</h5>
    <ul>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=8t5DuQQIiiI&feature=plcp&fs=1">
        Nhập điểm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=k3PqG3EsEdo&feature=plcp&fs=1">
        Điểm danh</a></li>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=kwNXE5_qG8E&feature=plcp&fs=1">
        Hạnh kiểm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=QOUIz7w4i-s&feature=plcp&fs=1">
        Môn học
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=qG9j5RQL7CY&feature=plcp&fs=1">
        Thời khóa biểu
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=Cdl6oxSU4B4&feature=plcp&fs=1">
        Tổng kết lớp cuối năm
      </a></li>

      <li>Nhập điểm
      <a target="_blank" href="http://www.youtube.com/watch?v=evb1Mhr6VH0&feature=plcp&fs=1">
        thi lại</a>, <a target="_blank" href="http://www.youtube.com/watch?v=PSwX91q8bck&feature=plcp&fs=1">
        rèn luyện thêm
      </a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Xem lần lượt các video hướng dẫn</h3>
    <iframe width="100%" height="400"
      src="http://www.youtube.com/embed/W8m6AiTYjIs?feature=player_detailpage"
      frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="span3">
    <h3>Cho giáo viên</h3>
    <ul>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=952nen0Jh1Q&feature=plcp">
        Nhập điểm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=lXLW8eyIGdI&feature=plcp">
        Nhập điểm danh
      </a></li>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=i3ghITLqIks&feature=plcp">
        Nhập hạnh kiểm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=svFcUhsSsaY&feature=plcp">
        Quản lý lớp chủ nhiệm
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=itNBJUHdeWs&feature=plcp">
        Nhắn tin cho các giáo viên khác
      </a></li>

      <li><a target="_blank" href="http://www.youtube.com/watch?v=XZyjKxwhX64&feature=plcp">
        Xem thông tin học sinh các lớp khác
      </a></li>
      <li><a target="_blank" href="http://www.youtube.com/watch?v=i0bLed6oZPU&feature=plcp">
        Xem tài khoản/đổi mật khẩu
      </a></li>

      <li style="list-style-type: "><a target="_blank" href="http://www.youtube.com/watch?v=OybhwAS-IOc&feature=plcp">
        Lịch giảng dạy
      </a></li>
    </ul>
  </div>
</div>
<br>

{% endblock %}
