{% load dictionary %}
<section id="classes" style="padding-bottom: 2em;">
    <div class="row-fluid">
        {% for grade in grades %}
            {% if grades.count == 4 %}
                <div class="span3 row-fluid class-container">
            {% else %}
                <div class="span4 row-fluid class-container">
            {% endif %}
        <h3>Khối {{ grade.number }}</h3>

        {% for class in classes %}
            {% if class.block_id_id == grade.id %}
                <div class="row-fluid">
                    <div class="lophoc span12">
                        <a class="lop" id="{{ class.id }}"
                           href="{% url 'class_detail' class.id %}">
                            <span class="tenlop" title="Tên lớp">{{ class.name }}</span>
                            <span class="gvcn" title="chủ nhiệm lớp">
                                {{ teachers|get_value:class.teacher_id_id|default_if_none:".." }}
                            </span>
                            <span class="siso" title="Sĩ số">
                            {{ numbers|get_value:class.id|default_if_none:"0" }}
                            </span>
                        </a>

                        <div class="slidein">
                            <a title="Nhập hoặc chỉnh sửa điểm các môn học"
                               class="btn btn-small btn-primary"
                               href="{% url 'mark_table' selected_term.id class.id %}">
                                Điểm</a>
                            <a title="Nhập thông tin học sinh nghỉ học có phép, không phép"
                               class="btn btn-small btn-success"
                               href="{% url 'diem_danh_form' class.id %}">
                                Điểm danh</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for unc in uncs %}
            {% if unc.block_id_id == grade.id and unc.number_of_students %}
                <div class="row-fluid">
                    <div class="lophoc span12">
                        <a class="lop" id="{{ unc.id }}"
                           href="{% url 'unc_class_detail' unc.id '' %}">
                  <span title="Danh sách học sinh chưa được phân lớp học"
                        style="color: #777;">
                    {{ unc.name }}
                  </span>
                  <span class="siso" title="Số lượng học sinh">
                    {{ unc.number_of_students }}
                  </span>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if grades.count == 4 %}
            </div>
        {% else %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

{% if user.userprofile.position == 'HIEU_TRUONG' or user.userprofile.position == 'HIEU_PHO' or user.userprofile.position == 'GIAO_VU' %}
    <div id="main-menu">
        <div class="pagination-centered">
            {# Người sử dụng cấp trường       #}
            {% if user.userprofile.organization.status != 0 %}
                {# Đang trong năm học #}
                <a id="sms" class="cmd btn btn-info" href="{% url 'sms_summary' '' %}"
                   title="Thông báo tình hình học tập, rèn luyện của học sinh cho phụ huynh">
                    <i class="icon-envelope"></i>
                    <p>Liên lạc</p>
                </a>
                <a id="report" class="cmd btn btn-info" href="{% url 'report' %}"
                   title="Các báo cáo thống kê, tổng kết">
                    <i class="icon-bar-chart"></i>
                    <p>Báo cáo</p>
                </a>
                {#<hr />#}

                <a id="classes-teachers" class="cmd btn btn-primary" href="{% url 'classes' %}"
                   title="Thêm/xoá lớp và gán giáo viên chủ nhiệm lớp">
                    <i class="icon-th-large"></i>
                    <p>Lớp học</p>
                </a>
                <a id="teachers" class="cmd btn btn-primary" href="{% url 'teachers' %}"
                   title="Quản lý danh sách giáo viên, cán bộ trong trường">
                    <i class="icon-group"></i>
                    <p>Giáo viên</p>
                </a>

                {#<hr />#}
                <a id="settings" class="cmd btn btn-warning" href="{% url 'info' %}"
                   title="Thông tin trường, khóa điểm, tham số.">
                    <i class="icon-cogs"></i>
                    <p>Thiết lập</p>
                </a>
                <a id="finish" class="cmd btn btn-danger" href="{% url 'finish' %}"
                   title="Chuyển học kỳ, năm học, xem tổng kết">
                    <i class="icon-columns"></i>
                    <p>Chuyển kỳ</p>
                </a>
                </div>
                <div class="pagination-centered">                {#<hr />#}
                <a id="timetable" class="cmd btn" href="{% url 'timetable_school' %}" title="Thời khóa biểu toàn trường">
                    <i class="icon-calendar"></i>
                    <p>Lịch học</p>
                </a>
                <a id="agenda" class="cmd btn" href="{% url 'school_subject_agenda' %}"
                   title="Quản lý phân phối chương trình các môn">
                    <i class="icon-book"></i>
                    <p>Bài học</p>
                </a>
                <a id="exams" class="cmd btn" href="{% url 'create_list_exam' %}" title="Tạo danh sách phòng thi">
                    <i class="icon-pencil"></i>
                    <p>Kỳ thi</p>
                </a>

                {#<hr />#}
                <a id="sitemap" class="cmd btn" href="/help/sitemap" title="Sơ đồ chức năng">
                    <i class="icon-sitemap"></i>
                    <p>Sơ đồ</p>
                </a>
                <a id="contact" class="cmd btn" href="{% url 'views.about' %}"
                   title="Giới thiệu, liên lạc, góp ý">
                    <i class="icon-info-sign"></i>
                    <p>Liên hệ</p>
                </a>

                <a id="help" class="cmd btn" href="{% url 'help' '' %}"
                   title="Hướng dẫn sử dụng">
                    <i class="icon-question-sign"></i>
                    <p>Trợ giúp</p>
                </a>
            {% else %}
                {# Khi chưa khởi  tạo năm học #}
                <a id="setup" class="cmd btn" href="{% url 'setup' %}"
                   title="Khai báo thông tin trường học và tạo nhanh các lớp học">
                    <i class="icon-cog"></i>
                    <p>Khởi tạo</p>
                </a>
            {% endif %}
            </div>
    </div>
{% elif user.userprofile.position == 'GIAM_DOC_SO' %}
    <div id="main-menu">
        <div class="pagination-centered">
            <a id="report" class="cmd btn btn-info" href="{% url 'report' %}"
               title="Các báo cáo thống kê, tổng kết">
                <i class="icon-bar-chart"></i>
                <p>Báo cáo</p>
            </a>

            <a id="teachers" class="cmd btn btn-primary" href="{% url 'teachers' %}"
               title="Quản lý danh sách giáo viên, cán bộ trong trường">
                <i class="icon-group"></i>
                <p>Giáo viên</p>
            </a>

            {#<hr />#}{#<hr />#}
            <a id="timetable" class="cmd btn btn-danger" href="{% url 'timetable_school' %}" title="Thời khóa biểu toàn trường">
                <i class="icon-calendar"></i>
                <p>Lịch học</p>
            </a>
        </div>
    </div>
{% endif %}


<ol id="guide1" style="display: none">
    <li>Quản lý lớp</li>
    <li data-id="classes">Các lớp học trong trường</li>

    <li>Quản lý trường</li>
    <li data-class="lophoc" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">Quản lý lớp,
        hoặc nhập điểm, điểm danh
    </li>
    <li data-id="sms" class="custom-class">Gửi thông báo cho phụ huynh</li>
</ol>

<script>
    $('#tour').click(function () {
        $("#guide1").joyride({
            /* Options will go here */
        });
    });
</script>
